.nav-bar {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgb(194, 199, 232), rgb(228, 230, 241));
}

.nav-bar * {
    cursor: pointer;
    height: 10vh;
    font-size: 3vh;
}

.icon {
    margin-top: 5vh;
}

.nav-link {
    text-decoration:  none;
    color: black;
}

#nav-logo {
    margin-top: 3vh;
    font-size: 4vh;
}
