.nav-bar {
    display: flex;
    justify-content: space-around;
    height: 7vh;
}

#nav-species, #nav-info {
    background-color:  white;
    border-radius: 5px;
    border: 1px solid grey;
    height: 4vh;
    width: 8vw;
    cursor: pointer;
}

#nav-species:hover, #nav-info:hover {
    background-color: rgb(232, 245, 232);
}