/* TODO Add site-wide styles */
    
  svg {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
  
  .star{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:black;
    animation: space 180s ease-in-out infinite;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 5px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.10) 3px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  }
  
  .text {
    color: #169ca3;
    font-family: 'Brush Script MT', cursive;
   
  }
  
  .globe{
    margin-left: auto;
    margin-right: auto;
   
  }
  
  .globe .sphere {
       fill: #2244c2;
     position: fixed!important;
      left: 0px!important;
      margin-left: 0px!important;
  }
  .globe .graticule {
    fill: none;
       stroke: #C0C0BB;
  }
  .globe .feature {
    fill: #137B80;
      stroke: #C0C0BB;
  }
  .globe .interiors {
     fill: none;
      stroke: #169ca3;
  }